*.o
*.o_shipped
*.a
*.so
*.so.*
*.cmd
*.symvers
*.order
*.d
*.ko
*.mod
*.mod.c
*.bin
*.ld.gen

*~
.*~

*.swp
.*.swp

tags
build

compile_commands.json

doc/*
!doc/Manual.md

.*project
bin
.
apdu_out
thoughts.md

test
.env
.cache

.idea
